
<!-- Services Section Start -->
<section id="convocatoria" class="py-24 bg-fixed md:bg-scroll"
style="
        background-image: url('{{ asset('img/havana-vector.svg') }}');
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-size: 100%;

        ">
    <div class="container">
        <div class="text-center">
            <h2 class="mb-12 section-heading wow fadeInUp" data-wow-delay="0.3s">{{ 'Convocatoria' | trans }}</h2>
        </div>

        <div class="container w-full flex flex-col justify-around flex-col-reverse md:flex-row">
            <div class="aside lg:w-1/5 flex flex-col items-center border-t-2 md:border-none wow fadeInUp" data-wow-delay="0.6s">
                <div class="logo mb-6 mt-6 md:mt-2">
                    <img src="{{ asset('img/logo-festival.jpg') }}">
                </div>
                <div class="comite mt-4">
                    <b class="text-red-500 uppercase">{{ "COMITÉ ORGANIZADOR" | trans }}</b>
                    <p>
                        Alex Pausides, Karel Leyva, Pierre Bernet, Yenys Laura Prieto, Giselle Lucía Navarro,
                        Luis Paz, Josué Pérez, María de los Angeles Polo, Betsy Rojo, Damaris Otero,
                        Josué Miguel Aguilar, Marlene Alfonso, Yanitza Díaz, Katy Alfonso.
                    </p>
                </div>
                <div class="info mt-6">

                    <div class="icon ">
                        <i class="lni lni-calendar text-4xl"></i>
                        <span class="text-gray-700  text-xl">{{ '25-30 de mayo, 2021' | trans }}</span>
                    </div>

                </div>

                <div class="sponsors grid mt-6 gap-2 grid-cols-2 justify-items-center">

                    <img src="{{ asset('img/logo_mincult.png') }}" alt="Logo Mintcult" class="mt-2 h-12">

                    <img src="{{ asset('img/logo-cubapoesia.webp') }}" alt="Centro Cultural Cubapoesia" class="mt-2 h-12">

                    <img src="{{ asset('img/logo_uneac.jpg') }}" alt="Logo Uneac" class="mt-2 h-12">

                    <img src="{{ asset('img/logo-icl.jpg') }}" alt="Logo ICL" class="mt-2 h-12">

                    <img src="{{ asset('img/logo-sur.webp') }}" alt="Logo Sur" class="mt-2 h-12">
                    <img src="{{ asset('img/logo-casadelalba.webp') }}" alt="Logo Casa del Alba" class="mt-2 h-12">
                    <img src="{{ asset('img/logo-wpm.webp') }}" alt="Logo WPM" class="mt-2 h-12">
                    <img src="{{ asset('img/logo-sureditores.webp') }}" alt="Logo SurEditores" class="mt-2 h-12">
                </div>
                
            </div>
            <article class="prose lg:prose-xl p-2">
                <p class="wow fadeInUp" data-wow-delay="0.6s">
                    {{ 'convocatoria.p1' | trans }}
                </p>

                <p class="wow fadeInUp" data-wow-delay="0.8s">
                    {{ 'convocatoria.p2' | trans }}
                </p>

                <p class="wow fadeInUp" data-wow-delay="1s">
                    {{ 'convocatoria.p3' | trans }}
                </p>

                <p class="wow fadeInUp" data-wow-delay="1.2s">
                    {{ 'convocatoria.p4' | trans }}
                </p>

                <p class="wow fadeInUp" data-wow-delay="1.4s">
                    {{ 'convocatoria.p5' | trans }}
                </p>

                <p class="wow fadeInUp" data-wow-delay="1.6s">
                    {{ 'convocatoria.p6' | trans }}
                </p>
            </article>
        </div>

    </div>
</section>
<!-- Services Section End -->
