<!DOCTYPE html>
<html lang="{{ app.request.locale }}" style="scroll-behavior: smooth;">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="{{ asset('img/logo.svg') }}" type="image/svg">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Icon -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/LineIcons.2.0.css') }}">
            <!-- Animate -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css') }}">

            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
